@charset "UTF-8";
/*===== Variabler ======*/
@font-face {
  font-family: "playfairregular";
  src: url(../font/PlayfairDisplay-Regular.ttf);
  font-weight: 100;
  font-style: normal;
}
body {
  margin: 0;
}

.wrapper {
  /*Gör så att sidan visas som ett grid där header och footer tar upp så lite plats som möjligt och main tar upp resten*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 99vh;
}

/*Samma styling som på resten av sidan*/
header {
  display: flex;
  padding: 5px;
  padding-left: 20px;
  align-items: center;
  height: 85px;
  background-color: #fff;
}
header h1 {
  margin: 0;
  font-size: 1.3em;
  height: auto;
  font-family: playfairregular;
}
header h1 a {
  font-size: 1.4em;
  color: inherit;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 25px;
  padding-inline-start: 30px;
  list-style-type: none;
  margin: 0;
}
header nav ul li a {
  text-align: center;
  display: inline-block;
  height: 50px;
  line-height: 2.6;
  color: inherit;
  font-size: 1.3em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h2 {
  text-align: center;
}
main > p {
  display: none;
}
main #game {
  /*Sätter bredd och höjd samt bakgrundsbild och sätter positionen till relativ*/
  width: 90vw;
  height: 100%;
  max-width: 1300px;
  max-height: 700px;
  background-image: url(../src/sprites/space-background.png);
  position: relative;
}
main #game img {
  /*Gör så att bilder har z-index 1 vilket kommer göra att de visas över andra element, sätter också positionen till absolut då bilderna kommer flyttas emd javascript*/
  z-index: 1;
  position: absolute;
}
main #game button {
  /*Stylar knappar med bredd och höjd, sätter bakgrundsbilden till två radiella gradienter, en på övre och en på undre delen av knapparna med färger från bakgrundsbilden. Jag sätter först en bakgrundsfärg så om den radeilla gradienten inte skulle kunna visas så kommer knapparna ändå ha en färg. Jag sätter också transitioner och en box shadow som gör att knapparna får en lysande/skimrande effekt.*/
  height: 50px;
  width: 20vw;
  background-color: #2b4270;
  background-image: radial-gradient(ellipse at top, #2b4270, transparent), radial-gradient(ellipse at bottom, #402651, #7b4084);
  cursor: pointer;
  font-size: 1.3em;
  color: #e4f1ff;
  font-family: playfairregular;
  transition: 0.5s ease;
  box-shadow: 0 0 15px #2b4270;
  border-radius: 5px;
  z-index: 1;
}
main #game button:hover {
  /*Gör knappen lite större och box-shadow starkare*/
  height: 55px;
  width: 23vw;
  box-shadow: 0 0 30px #7b4084;
}
main #game button:active {
  /*Ännu starkara box shadow*/
  box-shadow: 0 0 50px #7b4084;
}
main #game > div {
  /*Alla divs, alltå alla menyer ska ha flex center reglerna*/
  display: flex;
  justify-content: center;
  align-items: center;
}
main #game #mainMenu {
  flex-direction: column;
  height: 100%;
  gap: 50px;
}
main #game #statusBar {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  color: #fff;
  transition: 0.3s ease;
  opacity: 0;
  font-size: 1.8em;
}
main #game #statusBar img {
  width: 60px;
  position: relative;
  z-index: 0;
}
main #game #select {
  display: none;
  flex-direction: row;
  gap: 100px;
}
main #game #select section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  background-color: #141d27;
  background-image: linear-gradient(60deg, #141d27, #1d314b);
  opacity: 0.9;
}
main #game #select section img {
  position: relative;
  width: 200px;
  height: 170px;
}
main #game #select section article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #game #select section article p, main #game #select section article h3 {
  text-align: center;
  font-size: 1.3em;
  color: #e4f1ff;
  line-height: 1.3;
}
main #game #settingsMenu {
  display: none;
  flex-direction: column;
}
main #game #settingsMenu h3 {
  font-size: 2.5em;
  color: #e4f1ff;
  text-shadow: 2px 2px 3px #000;
}
main #game #settingsMenu section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
main #game #settingsMenu ul {
  list-style-type: none;
  font-size: 1.5em;
  color: #e4f1ff;
  padding-inline-start: 0;
}
main #game #settingsMenu ul li {
  text-align: center;
  padding: 10px;
}
main #game #result {
  flex-direction: column;
  transition: 0.5s ease;
  display: none;
}
main #game #result h3 {
  /*Stylar med bland annat en linjär gradient som går mellan tre färger med en 120 graders vinkel */
  padding: 20px;
  background-image: linear-gradient(120deg, #141d27, #412752, #412752);
  box-shadow: 0 0 100px 10px #412752;
  font-size: 3em;
  color: #e4f1ff;
}

footer {
  height: -moz-min-content;
  height: min-content;
}
footer p {
  text-align: center;
}

@media screen and (max-width: 800px) {
  #game {
    display: none;
  }
  main > p {
    display: block;
  }
}/*# sourceMappingURL=sass.css.map */