@font-face {
    /*Deklarerar en font med font-face. Då jag endast kommer använda en font till h1 taggen så används endast en fil som innehåller den vanliga versionen av fonten. Fonten är av formatet TTF som jag valde att använda för att den stöds i även äldre webbläsare, den har inte lika bra prestandard som det mer moderna WOFF formatet men för det som jag använder fonten till så föredrar jag bredare stöd.*/  
    font-family: "playfairregular";
    src: url(../font/PlayfairDisplay-Regular.ttf);
	font-weight: 100;
	font-style: normal;
}

body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
}

header {
    display: flex;
    padding: 5px;
    padding-left: 20px;
    align-items: center;
    height: 85px;
    background-color: #fff;

    h1 {
        margin: 0;
        font-size: 1.3em;
        height: auto;
        font-family: playfairregular;

        a {
            font-size: 1.4em;
            color: inherit;
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 25px;
            padding-inline-start: 30px;
            list-style-type: none;
            margin: 0;

            li {
                a {
                    text-align: center;
                    display: inline-block;
                    height: 50px;
                    line-height: 2.6;
                    color: inherit;
                    font-size: 1.3em;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
    }

    #game {
        display: block;
        width: 95vw;
        height: 100%;
        background-color: #f3f3f3;
        position: relative;

        img {
            z-index: 1;
            position: absolute;
        }
    }
}

footer {
    height: min-content;
    p {
        text-align: center;
    }
}