@font-face {
    /*Deklarerar en font med font-face. Då jag endast kommer använda en font till h1 taggen så används endast en fil som innehåller den vanliga versionen av fonten. Fonten är av formatet TTF som jag valde att använda för att den stöds i även äldre webbläsare, den har inte lika bra prestandard som det mer moderna WOFF formatet men för det som jag använder fonten till så föredrar jag bredare stöd.*/  
    font-family: "playfairregular";
    src: url(../font/PlayfairDisplay-Regular.ttf);
	font-weight: 100;
	font-style: normal;
}

:root {
    /*Root selektorn låter mig deklarera variabler. Jag deklarerar en variabel för det box shadow värde som alla element med box shadow använder för att undvika onödigt arbete*/
    --box-shadow: 3px 2px 10px #a2a2a2;
}

body {
    /*Sätter margin till 0 för att underlätta styling och ökar lineheighten för att göra texten mer lättläslig*/
    margin: 0;
    line-height: 1.5;
}

.wrapper {
    /*Wrappern innehåller allt innehåll på sidan och styr layouten med ett enspaltigt grid*/
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    margin: 0;
    font-size: 1.3em;
    height: auto;
    font-family: playfairregular;
}

header {
    /*Sätter färg och statisk höjd på header*/
    height: 60px;
    background-color: #fff;
}

header nav {
    /*Visar navbaren som flex och justerar innehållet till center för att göra så att ul listan har lagom med plats ovan och under. Sätter även bredd och höjd till 100% för att göra så att elementet tar upp hela headerns plats vilket gör att den ligger centrerad och prydligt.*/
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

header nav ul {
    /*Visar ul som en flex och justerar innehållet till baseline vilket gör att elementen visas som om de är skrivna på samma rad. Tar också bort list stilen, lägger till mellanrum och justerar padding vid listans början, alltså till vänster.*/
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
    padding-inline-start: 10px;
    list-style-type: none;
    margin: 0;
}

header nav ul li a {
    /*Centrerar texten och visar länkarna som inline blocks vilket gör att de kan ta höjd och bredd värde vilket jag använder för att göra länkarna större och lättare att klicka vilket är bra tillgänglighet för bra skärmar. Sätter också en större line height vilket centrerar texten i länkarna vertikalt.*/
    text-align: center;
    display: inline-block;
    height: 40px;
    line-height: 1.8;
}

/*======= Main =======*/
/*======= Sektion 1 =======*/
main > section:nth-child(1) {
    /*Ger main en bakgrundsbild som är positionerad mitt i sektionen och täcker hela sektionen utan att repetera, bestämmer även höjden och visar sektionen som flex och rättfärdigar innehållet till mitten av sektionen*/
    display: flex;
    justify-content: center;
    background-image: url(../src/the-rat-pack-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

main > section:nth-child(1) h2 {
    /*Ökar storlek och ändrar färg samt som jag lägger till en svart textskugga för att göra så att texten syns tydligt*/
    font-size: 3em;
    color: white;
    text-shadow: 4px 1px 2px #000;
}

/*======= Sektion 2 =======*/
main > section:nth-child(2) {
    /*Visar innehållet som flex i riktningen kolumn för en enspaltig layout på mobil*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main iframe {
    /*Sätter en lämplig höjd och bredd för min youtube iframe*/
    width: 90%;
    height: 200px;
    margin: auto;
}


main > section:nth-child(2) :is(p, h3) {
    /*Centrerar och gör texten större på p element och h3 element som finns i en sektion som är det andra barnet direkt inuti main. Använder selektorn :is() för att simplifiera selektorn (istället för en gruppselektor)*/
    font-size: 1.3em;
    text-align: center;
}

main > section:nth-child(2) p::first-letter {
    /*Gör så att den första bokstaven i paragrafen har en textstorlek som är dubbelt så stor som föräldrar elementet med enheten Rem*/
    font-size: 2rem;
}

main > section:nth-child(2) section {
    /*Centrerar innehållet i kolumn-riktninng med flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*======= Sektion 3 =======*/
main > section:nth-child(3) {
    /*Sätter bakgrundsfärgen till en gråaktig färg, lägger till padding, visar som flex med riktningen kolumn och justerar innehållet till center och lägger till ett gap för att separera elementen*/
    background-color: #ececec;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main > section:nth-child(3) h3 {
    /*Centrerar text, tar bort margin och ökar textstorleken med den relativa enheten Ch vilket är relativt till bredden på siffran "0"*/
    text-align: center;
    font-size: 3.5ch;
    margin: 0;
}

main article {
    /*Visar som flex med riktning kolumn, sätter bakgrundsfärgen till vit och lägger till en boxshadow med värdet av min box-shadow variabel som jag kommer åt med var() för att innesluta innehållet, rundar även hörnen */
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

main article img {
    /*Gör så att bilden nästan är full bredd och, rundar hörnen och lägger till automatisk margin vilket centrerar innehållet*/
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

main article h4 {
    text-align: center;
    font-size: 1.4em;
}

main article p {
    text-align: center;
    margin: 0;
    font-size: 1.1em;
}

/*======= Footer =======*/
footer p {
    text-align: center;
}

/*======= information.html ==========*/
/*======= Punkter ========*/
/*Id-selektorn #information avänds för att göra så att reglerna endast gäller för de element som finns i information.html*/ 
#information main > section {
    background-color: #c9c9c9;
}

#information h3 {
    font-size: 1.8em;
}

#information main > section:nth-child(2) {
    /*Sätter bakgrundsbilden till en lineär gradient från vänster till höger från en ljusare grå färg till en mörkare grå färg*/
    background-image: linear-gradient(to right, #d7d7d7, #a8a5a5);
}

#information main > section > section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#information main > section > section > section {
    display: flex;
    flex-direction: column;
}

#information h4 {
    font-size: 1.3em;
    text-align: center;
    margin: 0;
}

#information main > section > section > section:nth-child(2) {
    align-items: center;
}

#information ol li {
    font-size: 3ex;
}

/*======= Galleri =======*/
#information main > section:nth-child(3) {
    border-radius: 0;
    background-color: #ffffff;
}

#information main > section:nth-child(3) section {
    display: flex;
    align-items: center;
}

#information main > section:nth-child(3) figure {
    /*Stylar alla figurer lika*/
    width: 90%;
    padding: 10px;
    box-shadow: var(--box-shadow);
    margin: 0;
}

#information main > section:nth-child(3) figure {
    /*Roterar alla figurer -1 grad med enheten Deg (degrees)*/
    transform: rotate(-1deg);
}

#information main > section:nth-child(3) figure:not(:nth-child(2)) {
    /*Roterar alla figurer som inte är den andra figuren i sektionen med en grad vilket jag åstadkommer med :not() selektorn vilket väljer alla element som inte passar selektorn som ges. I detta fallet så räcker det att skriva :nth-child(2). Alltså så väljer selektorn alla figurer som inte är det andra barnet i sektionen.*/
    transform: rotate(1deg);
}

#information main > section:nth-child(3) figure figcaption {
    /*Ändrar textstorleken på figcaption till 2ex. Ex är en relatvi enhet som är relativ till höjden på lilla "x"*/
    font-size: 2ex;
}

#information main > section:nth-child(3) figure img {
    /*Sätter bredden på bilderna i figurerna till 100% för att fylla figuren men inte mer.*/
    width: 100%;
}

/*======= form =======*/
#information main > section:nth-child(4) {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}

form h3,
form p {
    text-align: center;
    margin: 0;
}

form > fieldset {
    /*Lägger till en padding och ändrar färgen med rgba samt som att jag lägger till en box shadow som ör mer tydlig på nedre och högra sidan vilket ger illusionen av djup.*/
    padding: 20px;
    background-color: rgba(197, 196, 196, 0.99);
    box-shadow: var(--box-shadow);
    font-size: 1.2em;
}

form fieldset fieldset {
    /*Det fieldset som innehåller mina radioknappar vill jag ska vara utan border då den endast är där för att gruppera knapparna och ge en legend som titel och bordern blir onödig*/
    border-style: none;
}

form input:is([type="text"], [type="email"], [type="password"], [type="tel"], [list]),
select {
    /*Sätter en bredd, höjd, bakgrundsfärg (med hsla(hue, saturation, lightness)) samt rundar hörn på de flesta elementen i formuläret som jag väljer med olika attributselektorer på input med :is(). Alltså så väljer den inputs inuti formuläret som är av någon av de typerna som anges*/
    width: 80%;
    height: 25px;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.99);
}

form input:required { 
    /*Väljer de inputs som har attributet required med den särskilda :required selektorn och ger de en lite annorlunda border-color.*/
    border-color: rgb(184, 186, 255);
}

form input:not(:required) {
    /*Ger de inputs som inte är required en annan border-color.*/
    border-color: #fff;
}

form input:checked {
    /*Ger de inputs som är checked (som endast kan vara radio inputs) en 1 pixel bred, svart, heldragen utlinje.*/
    outline-style: solid;
    outline-width: 1px;
    outline-color: #000;
}

form input:disabled::after {
    /*Jag väljer de element som är disabled med den särskila selektorn :disabled och sedan ::after vilket används för att lägga till innehåll efter ett element. Jag väljer att innehållet ska vara en svg bild som förtydligar att elementet är disabled.*/
    content: url(../src/disabled.svg);
}

form textarea {
    font-size: 1em;
    background-color: #f1f1f1;
    width: 95%;
}

form select {
    font-size: 0.9em;
    width: 80%;
}

form > section:last-child {
    /*Sektionen som innehåller submit knappen som finns till för att centrera knappen*/
    display: flex;
    justify-content: center;
}

form button {
    /*Stylar knappen med bredd och höjd samt rundade hörn och tar bort border och till sist gör så att musen är en pekare när man hovrar elementet*/
    width: 40%;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    font-size: 1em;
    cursor: pointer;
}

/*======Tabell======*/
main > section:nth-child(5) {
    /*Tabeller är mycket svåra att mobilanpassa och den innehåller inte vissentlig information så därför så göms den på mindre skärmar*/
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

table {
    width: 90%;
}

table, 
th,
td {
    /*Ger tabellen en en pixel bred svart heldragen border och collapsar alla för att det ska se snygg och prydligt ut, lägger även till padding för att tabellen ska bli mer luftig och lättläslig*/
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

caption {
    font-size: 2em;
}

th[scope="col"] {
    /*Gör th som är huvud för kolumner en särskild färg*/
    background-color: #dadada;
}

th[scope="row"] {
    /*Gör th som är huvud för rader en särskild färg*/
    background-color: #adadad;
}

tr:nth-child(odd) {
    background-color: #f3f3f3;
}
/*Lägger till zebra-striping till de vanliga cellerna*/
tr:nth-child(even) {
    background-color: #dadada;
}

tfoot tr td {
    /*Ger alla td i tfoot till en särskild färg*/
    background-color: #979595;
}

/*====== artist.html ======*/
/*====== Menyknapp =======*/
#artist main > section:nth-child(1) {
    /*Jag tar bort bakgrundsbilden och sätter höjden till auto då detta är den enda layout som inte har bakgrundsbild och titel i sin första sektion*/
    width: 100%;
    height: auto;
    background-image: none;
}

#artist main > section:nth-child(1) ul {
    /*Stylar bredd, list-stil, padding och margin, rundade hörn och bakgrundsfärg och box-shadow*/
    width: 90%;
    list-style-type: none;
    padding-inline-start: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin: 0;
}

#artist main > section:nth-child(1) ul li {
    text-align: center;
}

#artist main > section:nth-child(1) ul li a {
    /*Liknande styling till de länkar som finns i min header*/
    display: inline-block;
    height: 50px;
    width: 100%;
    font-size: 1.3em;
    line-height: 2;
}

/*====== Sektion 1 =======*/
#artist main {
    /*Visar main som en enspaltig kolumn*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #ececec;
    padding: 15px;
}

#artist main > section:nth-child(2) {
    /*Visar sektionen med översiktig information som en enspaltig kolumn och lägger till border med rundade hörn och en box-shadow*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
    height: auto;
    border-radius: 10px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: var(--box-shadow);
}

#artist main > section:nth-child(2) img {
    /*Ger bilden rundade hörn och relativ bredd*/
    width: 80%;
    border-radius: 5px;
}

#artist audio {
    width: 100%;
}

#artist h2 {
    /*Tar bort margin och även text skuggan som skulle ges till titeln från regeln på rad 79*/
    font-size: 4ex;
    text-shadow: none;
    margin: 0;
}

dl {
    display: grid;
    gap: 10px;
    margin: 0;
}

dl dd {
    /*Ökar margin vid inline-start, alltså till vänster, för att skapa mer avstånd mellan dt och dd paren*/
    margin-inline-start: 70px;
}

/*====== Sektion 2 ======*/
#artist main > section:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
}

#artist main > section:nth-child(3) article {
    border-style: solid;
    border-color: #5f5f5f;
    border-width: 1px;
}

#artist :target h2 {
    text-decoration: underline;
}

/*Min kära älskade LoVe Focus HAte som är prydligt skrivet längst ner bland de vanliga reglerna i rätt ordning, visst är det vackert*/
a:link {
    color: black;
}

a:visited {
    color: inherit;
}

a:focus {
    color: inherit;
}

a:hover {
    color: inherit;
}

a:active {
    color: inherit;
}

@media screen and (min-width: 450px) {
    /*Regler som gäller för mycket stora mobiler och mindre plattor*/

    header nav ul {
        /*Lägger till ett gap och padding inline start nu när det finns plats för det */
        gap: 25px;
        padding-inline-start: 30px;
    }

    header nav ul li a {
        font-size: 1.1em;
    }

    main > section:nth-child(1) {
        /*Ändrar positionen på bakgrundsbilden för att bättre passa till den större skärmstorleken*/
        background-position: top;
    }
    
    main iframe {
        width: 80vw;
    }
    
    main article{
        width: 75vw;
    }
}

@media screen and (min-width:700px) {
    /*Regler som kommer gälla för större plattor*/
    header {
        height: 80px;
    }

    header nav ul li a {
        font-size: 1.3em;
        line-height: 2;
        height: 50px;        
    }

    main > section:nth-child(1) {
        /*Byter bakgrundsbilden till en som är mer anpassad för den större skärmstorleken*/
        background-image: url(../src/the-rat-pack-4.jpg);
        background-position: center;
    }

    main > section:nth-child(2) {
        /*Lägger till extra padding nu när det finns plats för det då det får sidan att se lite mer lufitg ut*/
        padding: 50px;
    }

    main > section:is(:nth-child(2), :nth-child(3)) h3 {
        /*Ökar textstorlek för h3 som finns i sektionen som antingen är andra eller tredje barnet direkt inuti main*/
        font-size: 1.9em;
    }

    main iframe {
        /*Sätter storleken till statiska mått då som ser bäst ut för videon nu när det finns plats för det*/
        height: 300px;
        width: 500px;
    }

    main article:nth-child(odd) {
        flex-direction: row-reverse;
    }
    /*Gör så att varannan artikel visas åt motsatt rad håll för att ge en mer intressant och livlig design*/
    main article:nth-child(even) {
        flex-direction: row;
    }

    main article img {
        width: 30%;
    }

    main article:nth-child(3) img {
        /*Då denna bilden är lite extra hög så minskar jag storleken för att den bättre ska passa in*/
        width: 25%;
    }

    /*==== information.html ======*/
    #information main > section:nth-child(3) section {
        flex-direction: row;
    }

    #information main > section:nth-child(3) figure {
        margin: 0;
        width: 100%;
    }

    form input:is([type="text"], [type="email"], [type="password"], [type="tel"], [list]),
    select {
        /*Ökar storlek och textstorlek för att det ska se bättre ut på större skärm*/
        width: 50%;
        height: 28px;
        font-size: 0.9em;
    }

    form button {
        width: 20%;
    }

    #information main > section:nth-child(5) {
        /*Gör så att tabellens sektion visas som flex och därför syns*/
        display: flex;
    }

    /*===== Artister =======*/
    #artist main {
        /*Ändrar layouten på main till en tvåspaltlayout nu när det finns plats för det med en grid layout. Jag justerar elementen till start så att de visas på samma höjd längst upp i sina rutor. Med hjälp av grid-template-areas så kan jag nu deklarera att lokala naven ska ta upp en hel rad och text delen och informations delen ska dela på den andra raden.*/
        display: grid;
        align-items: start;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "local local"
            "text info";
    }

    #artist main > section:nth-child(1) {
        /*Deklarerar elementets grid area, alltså vart den ska placeras i grid.*/
        grid-area: local;
    }

    #artist main > section:nth-child(1) ul {
        /*Visar den lokala navens ul som en flex i riktning rad nu när det finns plats på skärmen för det.*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 80px;
        height: 80px;
    }

    #artist main > section:nth-child(2) {
        grid-area: info;
        border-style: none;
    }

    #artist main > section:nth-child(3) {
        grid-area: text;
    }

    #artist main > section:nth-child(3) article {
        flex-direction: column;
        width: auto;
        border-style: none;
        gap: 20px;
    }

}

@media screen and (min-width: 1000px) {
    /*Regler som kommer börja gälla för datorskärmar*/

    main > section:nth-child(1) {
        /*Byter ännu igen bakgrundsbilden till en som är mer anpassad för skärmstorleken och ökar höjden på sektionen*/
        background-image: url(../src/the-rat-pack-2.jpg);
        background-position: 0 -80px;
        height: 80vh;
    }

    main > section:nth-child(2) section {
        /*Visar sektionen som en rad åt motsatt håll för att då hamnar texten till vänster om videon vilket känns mer naturligt då jag vill att man ska läsa texten först*/
        flex-direction: row-reverse;
        justify-content: center;
        gap: 30px;
    }

    main > section:nth-child(2) section p {
        width: 50%;
        text-align: left;
    }

    main article h4 {
        font-size: 1.5em;
    }

    /*===== information.html ======*/
    #information main > section > section {
        flex-direction: row;
        gap: 10px;
    }

    #information main > section > section > section p {
        width: 90%;
    }
    
    /*Justerar texten olika för de två sektionerna och ger den andra sektionen en bredd för att listan ska passa in bra.*/
    #information main > section > section > section:nth-child(1) p {
        text-align: left;
    }
    
    #information main > section > section > section:nth-child(2) {
        width: 50vw;
    }
    
    #information main > section > section > section:nth-child(3) p {
        text-align: right;
    }

    /*===== form =====*/
    #information main > section form {
        /*Skapar en grid layout med template area för att jag vill ha en mer avancerad design då fieldsetsen ska ligga jämte varandra*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "h3 h3"
            "p p"
            "field1 field2"
            "subm subm";
        gap: 30px;
        width: 90%;
    }

    /*Tilldelar grid utrymmen*/
    form h3 {
        grid-area: h3;
        margin: 0;
    }

    form p {
        grid-area: p;
        margin: 0;
    }

    form fieldset:nth-child(3) {
        grid-area: field1;
    }

    form fieldset:nth-child(4) {
        grid-area: field2;
    }

    form section:last-child {
        grid-area: subm;
        height: 55px;
    }

    /*Lägger en hover effekt på knappenm för att göra det mer responsivt till användaren. Effekten är att knappen blir större, använder transition för att bestämma hur fort det ska ändras. Ease gör så att animationen börjar långsamt och sedan blir lite snabbare och sedan avslutar med långsammare.*/
    form button:hover {
        transition: 0.4s ease;
        width: 23%;
        height: 55px;
    }

    table {
        /*Ökar storleken på tabellen*/
        width: 50%;
    }

    /*==== Artister =====*/
    #artist main {
        /*Ändrar layouten till en trespaltig layout genom att ändra grid rows och grid columns och grid template areas*/
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "local text info";
    }

    
    #artist main > section:nth-child(1) ul {
        /*Listan ska vara enspaltig för att ta upp mindre plats horisontellt. Stretch används för att göra så att elementen tar upp all plats möjligt.*/
        flex-direction: column;
        align-items: stretch;
        height: auto;
        width: 15vw;
        gap: 0;
    }

    #artist main > section:nth-child(1) ul li a {
        height: 70px;
        line-height: 3;
    }

    #artist main > section:nth-child(2) {
        width: 20vw;
    }

    #artist main > section:nth-child(3) {
        padding: 40px;
    }

    #artist main > section:nth-child(3) article {
        box-shadow: none;
    }

    #artist main > section:nth-child(3) article :is(p, h2) {
        text-align: left;
    }
}